.initialPage {
	width: 94vw;
	height: 50vh;
	margin: auto 3vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: 2s;
}

.initialTitle {
	color: #feaa00;
	font-size: 6rem;
	font-weight: 200;
}

.initialDiscription {
	font-size: 18px;
}

.btnContainer {
	margin: auto 0px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding: 0px;
	border: #fff 2px solid;
	display: flex;
	align-items: center;
	transition: 0.4s;
	justify-content: center;
}
.circularBtnIcon {
	height: 48px;
	width: 48px;
	transition: 0.4s;
}
.btnContainer:hover {
	transform: scale(0.9);
}
.circularBtnIcon:hover {
	transform: scale(1.2);
}
@media only screen and (max-width: 440px) {
	.initialTitle {
		font-size: 2.4rem;
	}
	.initialDiscription {
		font-size: 12px;
	}
	.btnContainer {
		width: 60px;
		height: 60px;
	}
	.circularBtnIcon {
		height: 28px;
		width: 28px;
	}
}
@media only screen and (min-width: 440px) and (max-width: 900px) {
	.initialTitle {
		font-size: 4rem;
	}
	.initialDiscription {
		font-size: 12px;
	}
	.btnContainer {
		width: 80px;
		height: 80px;
	}
	.circularBtnIcon {
		height: 28px;
		width: 28px;
	}
}
